body {
    margin: 0;
    padding: 0;
    background:#407BAD;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
  }
  div{
    background-color: white;
    border-color:#8AAAB7;
  }
  h2{
    color: #30627C;
  }
  
.aboutDiv{
box-sizing: border-box;
width: 1427px;
height: 901px;
background-color:white;
border-radius: 10px;
border-color: #8AAAB7;
}